.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    padding: 30px;
}

.footer__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f1f1f1;
}